/* Container principal — centraliza e limita a largura */

main {
  max-width: 900px;
  width: 100%;
  margin: 200px auto 18px auto;
  padding: 0 20px;
}


/* 
 TÍTULO PRINCIPAL
   */

.calculadora-img {
  fill: #109cfa;
  width: 65px;
  position: absolute;
  left: 0;
  bottom: 1px;
}


.header-title {
  position: relative;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto 20px auto;
  padding: 0 20px;
  text-align: left;

}


h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 4px;
  margin: 0 75px;
  width: 63%;
  position: absolute;
  right: 168px;
  align-items: right;
  bottom: 25px;



}

.muted {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 25px;
  position: relative;
  left: 58px;
  margin-top: 10px;
}

.detalhe-cal {
  position: relative;
  left: 0;

}


/*LAYOUT EM GRADE 
  */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.full {
  grid-column: 1 / -1;
}


/* CAMPOS E LABELS  */

label {
  font-size: 13px;
  color: var(--muted);
  display: block;
  margin-bottom: 6px;
}

input[type="number"],
input[type="text"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  background: transparent;
  color: inherit;
}


/*  CARTÃO DA CALCULADORA 
   */



.card:hover {
  border-color: rgba(255, 255, 255, 0.20);
}


/* 
   ÁREA DE RESULTADOS 
*/

.result {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.big {
  font-size: 20px;
  font-weight: 700;
}


/*  OPÇÕES E TOGGLE  */

.tog {
  margin-top: 12px;
  display: flex;
  gap: 8px;
}


/* TABELA DE RESULTADOS */

#areaTabela {
  margin-top: 12px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  padding: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.03);
  text-align: right;
}

th {
  text-align: left;
  color: var(--muted);
  font-size: 13px;
}


/* NOTAS E INFORMAÇÕES  */

.note {
  font-size: 13px;
  color: var(--muted);
  margin-top: 10px;
}

.footer {

  width: 100%;
  text-align: center;
  padding: 15px 0;
  margin-top: 800px;
  color: #ccc;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(12, 1, 70, 0.058);
  backdrop-filter: blur(4px);
}


/*
  RESPONSIVIDADE
  */

@media (max-width: 720px) {

  .grid {
    grid-template-columns: 1fr;
  }

  .result {
    flex-direction: column;
    align-items: flex-start;
  }

  .card {
    max-width: 95%;
  }
}