body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Cabeçalho */
.div-pai-logo {
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 2%;
  width: 10%;
  text-align: center;


}

h2 {
  color: #ffff;
}

.img-logo {
  display: inline-block;
  width: 65px;
  margin: 0;
  fill: #0ea5e9;
}

.logo {
  display: inline-block;
  position: relative;
  bottom: 8px;

}

nav {
  position: relative;
  height: 70px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(90deg, #24438B, #802480) 1;
}


.lista-nav ul {
  margin-left: 30%;

}

.lista-nav li a {
  text-decoration: none;
  color: #e6eef6;
  font-weight: 700;

}

.lista-nav li a:hover {
  color: #0ea5e9;


}

.lista-nav li {
  display: inline-block;
  position: relative;
  left: 20%;
  padding: 10px;
  margin: 15px;

}


/* Container com movimento contínuo */
.cotacoes-wrapper {
  background: #001022;
  overflow: hidden;
  padding: 8px 0;
  border-top: 1px solid #222;
  border-bottom: 1px solid #05061934;
}

.cotacoes-container {
  display: flex;
  gap: 12px;
  align-items: center;
  white-space: nowrap;
  will-change: transform;
  padding-left: 20px;
}

.cotacao-item {
  color: #fff;
  padding: 6px 18px;
  border-right: 2px solid rgba(0, 86, 215, 0.17);
  font-size: 15px;
  display: flex;
  align-items: center;
}

.cotacao-item:last-child {
  border-right: none;
}


@keyframes rolarCotas {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}


/* botão do menu (ícone hambúrguer no canto superior direito) */
#menuBotao {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #0ea5e9;
  border: none;
  cursor: pointer;
  z-index: 1000;

}

/* linhas do ícone hambúrguer */
#menuBotao div {
  width: 28px;
  height: 3px;
  background-color: #0ea5e9;
  margin: 5px 0;
  transition: 0.3s;
  

}

/* menu lateral escondido por padrão */
#menuLateral {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: rgba(15, 23, 36, 0.97);
  backdrop-filter: blur(10px);
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
  transition: right 0.3s;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;

  z-index: 999;
}


#menuLateral.ativo {
  right: 0;
}

/* estilo dos links do menu */
#menuLateral a {
  color: #e6eef6;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);

}

/* muda a cor ao passar o mouse */
#menuLateral a:hover {
  color: var(--accent);
}

.menu-lateral,
.menu-botao {
  display: none;
}