/* 
   RESPONSIVE — 1024px
 */
@media (max-width: 1024px) {
    .titulo-calculadora {
        left: 2px;
        font-size: 22px;
    }

    .container-tab {
        margin: 0;
    }

    .menu-lateral,
    .menu-botao {
        display: block;
    }

    /* Quando menu mobile aparece, escondemos o desktop */
    .lista-menu-principal {
        display: none;
    }


    .img-logo {
        display: inline-block;
        width: 60px;
        fill: #0ea5e9;
        position: relative;
        left: 5px;
    }

    .logo {
        display: inline-block;
        position: relative;
        left: 70px;
        bottom: 10px;

    }

    .container-sobrenos {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        max-width: 1500px;
        margin: 0 auto;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 25px rgba(19, 0, 103, 0.279);
        border-bottom: 1px solid rgba(44, 0, 221, 0.08);
        backdrop-filter: blur(6px);
        transition: all 0.3s ease;
        border: 1px solid rgba(132, 132, 132, 0.136);

    }

    .img-sessao-sobrenos {
        flex: 1;
        max-width: 500px;
        box-shadow: 0 0 25px rgba(19, 0, 103, 0.225);
    }

    .img-sessao-sobrenos img {
        width: 100%;
        height: 100%;
        border-radius: 13px;


    }

    .titulo-sobrenos {

        padding: 20px;
        margin-top: 10px;
        font-size: 20px;

    }
}



@media (max-width: 1500px) {

    .titulo-principal {
        width: 60%;
        top: 180px;
        left: 5%;
    }

    .cartoes-ferramentas {
        width: 90%;
        gap: 70px;
    }

    .lista-nav ul {
        margin-left: 10%;

    }


    .lista-nav li {
        left: 20%;
        padding: 10px;
        margin: 15px;

    }


    .logo {
        bottom: 10px;
        left: 35px;

    }

    .img-logo {
        display: inline-block;
        width: 60px;
        fill: #0ea5e9;
        position: relative;
        top: 30px;
        right: 30px;
    }

    .titulo-sobrenos {
        padding: 5px;
        margin-top: 10px;
        font-size: 14.5px;
        width: 400%;

    }

    .img-sessao-sobrenos {
        flex: 1;
        max-width: 500px;
        box-shadow: 0 0 25px rgba(19, 0, 103, 0.225);
    }

    .img-sessao-sobrenos img {
        width: 100%;
        height: 100%;
        border-radius: 13px;


    }

    .div-pai-cards {
        margin-top: 140px;
    }


}



/* 
   RESPONSIVE — 768px (tablet)
 */
@media (max-width: 768px) {

    /* Seção principal */
    .titulo-principal {
        width: 80%;
        top: 160px;
        left: 8%;
        text-align: center;

    }

    .botao-principal {
        width: 80%;
        right: 0;
        margin: auto;
    }

    /* Cards */
    .cartoes-ferramentas {
        flex-direction: column;
        height: auto;
        gap: 40px;
        padding: 20px;
        align-items: center;
    }

    .sobre-nos {
        margin-bottom: 30%;
    }

    .img-logo {
        display: inline-block;
        width: 60px;
        fill: #0ea5e9;
        position: relative;
        left: 5px;
    }

    .logo {
        display: inline-block;
        position: relative;
        left: 70px;
        bottom: 10px;

    }

}

/*
   RESPONSIVE — 480px (celular)
 */
@media (max-width: 480px) {

    .titulo-principal {
        width: 90%;
        top: 140px;
        left: 5%;
        font-size: 20px;
    }

    .titulo-principal p {
        font-size: 16px;
    }

    .botao-principal {
        width: 90%;
        font-size: 18px;
        padding: 10px;
    }

    .div-pai-cards h2,
    .sobre-nos h2,
    .formulario h2 {
        font-size: 30px;
    }


    .formulario-contato {
        width: 90%;
        padding: 20px;
    }

    .sobre-nos {
        margin-bottom: 30%;
    }

    .p-calculadora {
        position: relative;
        font-size: 10px;
        width: 200px; 
    }

    .titulo-calculadora{
        width: 200px !important;
        font-size: 20px;
        
    }


    .calculadora-img {
        width: 80px;
    }

   .result-cal {
        align-items: left;
    }
    .detalhe-cal{
        width: 200px;    
    }

    #areaTabela {
        border-radius: 8px;
        padding: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 8px;
    }

    th {
        font-size: 12px;
    }

    .container-sobrenos {
        display: flex;
        flex-direction: column;
        max-width: 1100px;
        gap: 0;
    }

    .img-sessao-sobrenos {
        flex: 1;
        max-width: 300px;

    }

    .img-sessao-sobrenos img {
        width: 100%;
        height: 100%;
        border-radius: 13pxx

    }

    .titulo-sobrenos {
        text-align: left;
        padding: 30px;
        font-size: 10px;
        max-width: 260px;

    }

    .cartoes-ferramentas {
        width: 65%;
        margin-top: 10%;
        padding: 10px;

    }


    .card-1,
    .card-2,
    .card-3 {

        font-size: 12px;
        margin-top: 35px;
    }

    .div-pai-cards h2 {
        font-size: 25px;
        margin-top: 340px;
        padding: 10px;
    
        
    }

    .card-ferramentas {
        width: 70% !important;
    }

   

    .titulo-principal-investi {
        font-size: 20px !important;
        right: 150px !important;
        top: 5px !important;
    }


    .titulo-investimento {
        width: 260px;
        right: 82px;
        top: 10px;
        font-size: 10px;
    }

    .img-title-inves {
        top: 50px;
        right: 20px !important;

    }

    .curso-info h1{
        font-size: 20px !important;
    }


    #curso2-nav .modulo-btn{
        padding: 5px;
    }

    .card-trilha-invex {
        margin: 5%;

        
    }

    .card-trilha-invex .cursos-grid {
        position: relative;
        right: 20%;
    }

}

@media (max-width: 1475px) {

    .img-logo {
        display: inline-block;
        width: 60px;
        fill: #0ea5e9;
        position: relative;
        left: 5px;
        top: 30px;
    }

    .logo {
        left: 75px;
        bottom: 5px;

    }

    .div-pai-cards {
        margin-top: 240px;
    }


}